.Login{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  &__error{
    max-width: 400px;
    background-color: #9c4242;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 15px 5px;
    color: #ccc;
    margin: 20px auto 5px auto;
    text-align: center;
  }
  &__form{
    font-family: sans-serif;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #999;
    text-align: center;
    &__input{
      margin: 10px 15px;
      text-align: center;
      padding: 5px;
    }
    &__label{
      padding: 5px;
      text-align: center;
      display: block;
    }
    &__submit{
      cursor: pointer;
      width: 85%;
      margin: 10px 15px;
      font-size: 1.3rem;
      padding: 5px;
    }
  }
}
