.Login{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  &__form{
    font-family: sans-serif;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #999;
    text-align: center;
    &__input{
      margin: 10px 15px;
      text-align: center;
      padding: 5px;
    }
    &__label{
      padding: 5px;
      text-align: center;
      display: block;
    }
    &__submit{
      cursor: pointer;
      width: 85%;
      margin: 10px 15px;
      font-size: 1.3rem;
      padding: 5px;
    }
  }
}
