.menu{
  top: 0;
  position: fixed;
  width: 40px;
  transform: translate(0px, 0px);
  background-color: #000;
  color: #eee;
  min-height: 100vh;
  cursor:pointer;
  &__icons{
    text-align: right;
    //margin: 15px 5px;
    font-size: 1.5rem;
    &__home{
      margin: 30px 0;
      padding: 5px 5px;
      &:hover{
        background-color: #222;
        color: #fff;
      }
    }
    &__users{
      margin: 30px 0;
      padding: 5px 5px;
      &:hover{
        background-color: #222;
        color: #fff;
      }
    }
    &__settings{
      margin: 30px 0;
      padding: 5px 5px;
      &:hover{
        background-color: #222;
        color: #fff;
      }
    }
    &__files{
      margin: 30px 0;
      padding: 5px 10px;
      &:hover{
        background-color: #222;
        color: #fff;
      }
    }
    &__info{
      margin: 30px 0;
      padding: 5px 15px;
      &:hover{
        background-color: #222;
        color: #fff;
      }
    }

  }
  &__text{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
  }

}
.hidden {
  display: none;
  visibility: hidden;
}
.menuSide {
  top: 0;
  height: 100vh;
  width:100%;
  max-width: 270px;
  text-align: center;
  padding: 10px;
  color:#ccc;
  background-color: #111;
  left:40px;
  position: absolute;
  font-family: sans-serif;
  & > ul {
    margin: 20px 10px;
    & > li{
      padding: 5px;
      margin: 15px 10px;
      list-style: none;
      &:hover{
        border-radius: 5px;
        background-color: #fff;
      }
      & > a{
        text-transform: uppercase;
        padding: 5px;
        font-size: 1.5rem;
        color: #ddd;
        text-decoration: none;
      }
    }
  }
}
