{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('defaultIndex') }}
{% endblock %}

{% block body %}
    <div class="defaultIndex">
        <aside class="menu" id="aside"></aside>
        <main class="content" id="main"></main>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('defaultIndex') }}
{% endblock %}
