{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('defaultIndex') }}
{% endblock %}

{% block body %}
    <div class="defaultIndex">
        <aside class="menu" id="aside">
            <div id="menu--icons" class="menu__icons">
                <div class="menu__icons__home">
                    <i class="fas fa-home"></i>
                </div>
                <div class="menu__icons__users">
                    <i class="fas fa-users"></i>
                </div>
                <div class="menu__icons__settings">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="menu__icons__files">
                    <i class="fas fa-file"></i>
                </div>
                <div class="menu__icons__info">
                    <i class="fas fa-info"></i>
                </div>

            </div>
            <div id="menu--text" class="menu__text">
                <div class="menu__icons__home">
                    <i class="fas fa-home">&nbsp;&nbsp;home</i>
                </div>
                <div class="menu__icons__users">
                    <i class="fas fa-users">&nbsp;&nbsp;users</i>
                </div>
                <div class="menu__icons__settings">
                    <i class="fas fa-cogs">&nbsp;&nbsp;settings</i>
                </div>
                <div class="menu__icons__files">
                    <i class="fas fa-file">&nbsp;&nbsp;files</i>
                </div>
                <div class="menu__icons__info">
                    <i class="fas fa-info">&nbsp;&nbsp;info</i>
                </div>

            </div>

        </aside>
        <main class="content" id="main"></main>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('defaultIndex') }}
{% endblock %}
