{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('defaultIndex') }}
{% endblock %}

{% block body %}
    <div class="defaultIndex">
        <aside class="menu" id="aside">
            <div id="menu--icons" class="menu__icons">
                <div class="menu__icons__home">
                    <i id="home" class="fas fa-home"></i>
                </div>
                <div class="menu__icons__users">
                    <i id="users" class="fas fa-users"></i>
                </div>
                <div class="menu__icons__settings">
                    <i id="settings" class="fas fa-cogs"></i>
                </div>
                <div class="menu__icons__files">
                    <i id="files" class="fas fa-file"></i>
                </div>
                <div class="menu__icons__info">
                    <i id="info" class="fas fa-info"></i>
                </div>
            </div>
        </aside>
        <div id="homeSide" class="menuSide hidden">
            <ul>
                <li>
                    <a href="">link 1</a>
                </li>
                <li>
                    <a href="">link 2</a>
                </li>
                <li>
                    <a href=""> link 3</a>
                </li>
            </ul>
        </div>
        <div id="usersSide" class="menuSide hidden">
            <ul>
                <li>
                    <a href="">link 4</a>
                </li>
                <li>
                    <a href="">link 5</a>
                </li>
                <li>
                    <a href=""> link 6</a>
                </li>
            </ul>
        </div>
        <main class="content" id="main">
           <div> 1gfdgfdgdffd
               gfdgfdgdf
               gfdgdf</div>
        </main>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('defaultIndex') }}
{% endblock %}
