{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('defaultIndex') }}
{% endblock %}

{% block body %}
    <aside id="aside"></aside>
    <main id="main"></main>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('defaultIndex') }}
{% endblock %}
