.Files {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 5px 0 40px;
  &__content{
    //text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    flex-wrap: wrap;
    &__item{
      padding: 5px;
      border-bottom: 1px dashed #666;
      font-family: sans-serif;
      margin: 10px 5px;
      &--number{
        border: 1px solid #777;
        padding: 5px;
        background-color: #fff;
        color: #000;
      }
      &--filename{
        margin: 0 10px;
      }
      &--download{
        margin: 0 5px;
        text-decoration: none;
        cursor: pointer;
        color: darkgreen;
        font-size: 2rem;
      }
      &--show{
        margin: 0 5px;
        text-decoration: none;
        cursor: pointer;
        font-size: 2rem;
      }
      &--delete{
        margin: 0 5px;
        text-decoration: none;
        cursor: pointer;
        font-size: 2rem;
        color:red;
      }
      &--size{
        font-size: 0.8rem;
      }
      &--owner{
        font-size: 0.8rem;
        margin: 0 10px;
      }

    }
  }
}
h1 {
  text-align: center;
  margin: 20px;
}
