{% extends 'base.html.twig' %}

{% block title %}User Files{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{%  endblock %}

{% block body %}
<main class="Files">
    <div class="Files__content">
        <h1>Your files:</h1>
        {% for  no, file in files %}
            <div class="Files__content__item">
                <p><span><mark>{{ no }}.</mark></span>{{ file }}</p>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
