{% extends 'base.html.twig' %}

{% block title %}User Files{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{%  endblock %}

{% block body %}
<main class="Files">
    <h1>Your files:</h1>
    <div class="Files__content">
        {% for  no, file in files %}
            <div class="Files__content__item">
                <span class="Files__content__item--number">{{ no }}.</span>
                <span>{{ file }}</span>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
