{% extends 'base.html.twig' %}

{% block title %}Upload File{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{%  endblock %}

{% block body %}
    <main class="Upload">

    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
