{% extends 'base.html.twig' %}

{% block title %}Upload File{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{%  endblock %}

{% block body %}
    <main class="Upload">

        <div class="Upload__container">
            <div id="progress"></div>
            {{ form(form) }}
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
