{% extends 'base.html.twig' %}

{% block title %}Login/Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% if error is defined %}
        {% if error is not null %}
            <div class="Login__error">{{ error }}</div>
        {% endif %}
    {% endif %}
    <div class="Login">
        <div class="Login__form">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
